<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        *{
            text-align: center;
            background-color: mediumpurple;
        }
    </style>
</head>
<body>
    <h2> hello user login here!!</h2><hr>
    <form action="/loginuser" method="post">
        {% csrf_token %}
        <label for="loginusername">User name:</label><br>
        <input type="text" name="loginusername" id="loginusername" placeholder="username" required><br><br>

        <label for="loginpass">Password:</label><br>
        <input type="password" name="loginpass" id="loginpass" placeholder="password" required><br><br>

        <button type="submit">Submit</button>



    </form>
</body>
</html>